body {
	margin: 0px
	padding: 0px;
	color: #201c1b;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background-color: #fff;
	background-image: url("tooplate_body.jpg");
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited {
	color: #c20202;
	font-weight: normal;
	text-decoration: underline;
	font-size: 12px;
	
}

a:hover {
	text-decoration: none;
}

a.more {
	display: inline-block;
	float: right;
	padding: 5px 24px 5px 0;
	font-weight: bold;
	background: url("tooplate_more.png") no-repeat center right;
}

a.more:hover {
	text-shadow: 1px 1px 1px #555;
}

p {
	margin: 0 0 10px 0
	padding: 0;
}

img {
	border: none;
}
blockquote {
	font-style: italic;
	margin: 0 0 0 10px;
}

h1, h2, h3, h4, h5, h6 { color: #bd9213; font-weight: normal;}
h1 {font-size: 34px; margin: 0 0 20px; padding: 5px 0;}
h2 {font-size: 28px; margin: 0 0 15px; padding: 5px 0;}
h3 {font-size: 24px; margin: 0 0 15px; padding: 0;}
h4 {font-size: 18px; margin: 0 0 15px: padding: 0;}
h5 {font-size: 16px; margin: 0 0 10px; padding: 0;}
h6 {font-size: 14px; margin: 0 0 5px; padding: 0;}

.cleaner {clear: both}
.h10 {height: 10px}
.h20 {height: 20px}
.h30 {height: 30px}
.h40 {height: 40px}
.h50 {height: 50px}
.h60 {height: 60px}

.float_l {float: left}
.float_r {float: right}

#tooplate_body_wrapper {
	width: 100%;
	background: url("tooplate_header.jpg") top center no-repeat;
	
}

#tooplate_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	background: url("tooplate_header.jpg") top center no-repeat;	
}

.tooplate_list {
	margin: 20px 0 20px 20px;
	padding: 0; list-style: none;
}

.tooplate_list li {
	color: #c20202;
	margin: 0;
	padding: 0 0 0 20px;
	background: url ("tooplate_list.png")no-repeat scroll 0 7px;
}
.tooplate list li a {
	color: #c20202;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;

}
.tooplate_list li a:hover {
	color: #c20202;
}
#tooplate_top_bar {
	width: 960px;
	height: 40px;
	padding: 5px 0;
}
a.social_btn {
	display: block;
	float: right;
	padding: 5px 30px 5px 0;
	color: #000;
	margin_left: 5px;
	margin_right: 5px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #493f2e;
	text-decoration: none;
}

a.twitter {
	background: url("tooplate_twitter.png") center right no-repeat;
}

a.facebook {
	background: url("facebook.png")center right no-repeat;
}

a.social_btn:hover {
	color: #bd9213;	}

#tooplate_header {
	width: 960px;
	height: 80px;
	padding: 10px 0;

}


#site_title {
	float: left;
}

#site_title h1 {
	margin: 0;
	padding: 20px 0 0;
}

#site_title h1 a {
	display: block;
	width: 190px;
	height: 40px;
	color: #fff;
	text-indent: -10000px;
	background: url("tooplate_logo.png") no-repeat top left;
}
/*The selector site_title h1 a is used because the element that needs this style has all these tags  */


#tooplate_menu {
	float: right;
	width: 625px;
	height: 65px;
	margin: 0 auto;
}

#tooplate_menu ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

#tootplate_menu ul li {
	padding : 0;
	margin: 0;
	display: inline;
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 125px;
	height: 35px;
	padding: 30px 0 0 0;
	font-size: 14px;
	color: #bd9213;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
	border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
	color:
	background: url ("tooplate_menu_hover.png") bottom center no-repeat;	
}

#tooplate_middle {
	clear: both;
	width: 900px;
	height: 240px;
	padding: 37px 30px 51px 30px;
	overflow: hidden;
	background: url("tooplate_middle.png") no-repeat;
}

#slider {
	clear: both;
	width: 960px;
	height: 240px;
	padding: 37px 30px 51px 30px;
	overflow: hidden;
	background: url("04.jpg") no-repeat;
	
	
	
}

#tooplate_main {
	clear: both;
	width: 960px;
	padding: 20px 0;
}

.col_w960 { width: 960px; margin-bottom: 40px }
.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px; margin-right: 50px; }
.col_allw300 { width: 300px; float: left; margin-right: 30px }
.col_last { margin: 0 }


.fp_lp_box {
	display: block;
	clear: both;
	position: relative;
	width: 290px;
	height: 140px;
	paddimg
}

.fp_lp_box span {
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 100px;
	height: 24px;
	text-align: center;
	background: url("tooplate_lp_btn.png");
}

.fp_lp_box span a {
	color: #fff;
}

#tooplate_footer_wrapper {
	width: 100%;
	background: #1f1b1a;
}

#tooplate_footer {
	width: 960px;
	padding: 30px 10px;
	color: #8b773a;
	margin: 0 auto;
}

#tooplate_copyright_wrapper {
	width: 100%;
	background: #000000;
}

#tooplate_copyright {
	width: 960px;
	padding: 10px;
	color: #39302b;
	margin: 0 auto;
	text-align: center;

}

